// -*- mode: jsonc -*-
{
    // "layer": "top", // Waybar at top layer
    // "position": "bottom", // Waybar position (top|bottom|left|right)
    "height": 30, // Waybar height (to be removed for auto height)
    // "width": 1280, // Waybar width
    "spacing": 10, // Gaps between modules (4px)
    // Choose the order of the modules
    //"modules-left": [
    //    "hyprland/workspaces",
    //    "hyprland/mode",
    //    "hyprland/scratchpad",
    //    "custom/media",
    //    "hyprland/windowcount",
    //    "hyprland/window",
    //],
    "modules-left": [
        "sway/workspaces",
        "sway/mode",
     //   "sway/scratchpad",
     //   "custom/media",
     //   "sway/windowcount",
        "sway/window",
    ],
    "modules-center": [
        "clock",
    ],
    "modules-right": [
        //        "mpd",
        //        "idle_inhibitor",
        "custom/weather",
        "custom/sep2",
        "pulseaudio",
        "custom/sep2",
        "custom/licht",
        "custom/sep2",
        "custom/disk",
        "custom/memory",
        //        "network",
        //        "power-profiles-daemon",
        //        "cpu",
        //        "memory",
        //        "temperature",
        //        "backlight",
        //        "keyboard-state",
        //        "hyprland/language",
        "battery",
        "battery#bat2",
        "custom/sep2",
        "custom/vpn",
        "custom/sep2",
        "tray"
        //        "custom/power"
    ],
    // Modules configuration
    "sway/workspaces": {
        "disable-scroll": true,
        "all-outputs": true,
        "warp-on-scroll": false,
        //"format": "{name}: {icon}",
        "format": "{icon}",
        "format-icons": {
            "1": "",
            "2": "",
            "3": "3",
            "4": "4",
            "5": "",
            "6": "6",
            "7": "7",
            "8": "",
            "9": "",
         //   "urgent": "",
         //   "focused": "",
         //   "default": ""
        }
    },
    "keyboard-state": {
        "numlock": true,
        "capslock": true,
        "format": "{name} {icon}",
        "format-icons": {
            "locked": "",
            "unlocked": ""
        }
    },
    "hyprland/mode": {
        "format": "<span style=\"italic\">{}</span>"
    },
    "hyprland/scratchpad": {
        "format": "{icon} {count}",
        "show-empty": false,
        "format-icons": [
            "",
            ""
        ],
        "tooltip": true,
        "tooltip-format": "{app}: {title}"
    },
    "mpd": {
        "format": "{stateIcon} {consumeIcon}{randomIcon}{repeatIcon}{singleIcon}{artist} - {album} - {title} ({elapsedTime:%M:%S}/{totalTime:%M:%S}) ⸨{songPosition}|{queueLength}⸩ {volume}% ",
        "format-disconnected": "Disconnected ",
        "format-stopped": "{consumeIcon}{randomIcon}{repeatIcon}{singleIcon}Stopped ",
        "unknown-tag": "N/A",
        "interval": 5,
        "consume-icons": {
            "on": " "
        },
        "random-icons": {
            "off": "<span color=\"#f53c3c\"></span> ",
            "on": " "
        },
        "repeat-icons": {
            "on": " "
        },
        "single-icons": {
            "on": "1 "
        },
        "state-icons": {
            "paused": "",
            "playing": ""
        },
        "tooltip-format": "MPD (connected)",
        "tooltip-format-disconnected": "MPD (disconnected)"
    },
    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "",
            "deactivated": ""
        }
    },
    "tray": {
        "icon-size": 15,
        "spacing": 10,
        // "icons": {
        //   "blueman": "bluetooth",
        //   "TelegramDesktop": "$HOME/.local/share/icons/hicolor/16x16/apps/telegram.png"
        // }
    },
    "clock": {
        // "timezone": "America/New_York",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format": " {:%a %d.%m.   %H:%M:%S}",
        "format-alt": "{:%Y-%m-%d}",
        "interval": 1
    },
    "cpu": {
        "format": "{usage}% ",
        "tooltip": false
    },
    "memory": {
        "format": "{}% "
    },
    "temperature": {
        // "thermal-zone": 2,
        // "hwmon-path": "/sys/class/hwmon/hwmon2/temp1_input",
        "critical-threshold": 80,
        // "format-critical": "{temperatureC}°C {icon}",
        "format": "{temperatureC}°C {icon}",
        "format-icons": [
            "",
            "",
            ""
        ]
    },
    "backlight": {
        // "device": "acpi_video1",
        "format": "{percent}% {icon}",
        "format-icons": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
        ]
    },
    "battery": {
        "states": {
            // "good": 95,
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-full": "{capacity}% {icon}",
        "format-charging": "{capacity}% ",
        "format-plugged": "{capacity}% ",
        "format-alt": "{time} {icon}",
        // "format-good": "", // An empty format will hide the module
        // "format-full": "",
        "format-icons": [
            "",
            "",
            "",
            "",
            ""
        ]
    },
    "battery#bat2": {
        "bat": "BAT2"
    },
    "power-profiles-daemon": {
        "format": "{icon}",
        "tooltip-format": "Power profile: {profile}\nDriver: {driver}",
        "tooltip": true,
        "format-icons": {
            "default": "",
            "performance": "",
            "balanced": "",
            "power-saver": ""
        }
    },
    "network": {
        // "interface": "wlp2*", // (Optional) To force the use of this interface
        "format-wifi": "{essid} ({signalStrength}%) ",
        "format-ethernet": "{ipaddr}/{cidr} ",
        "tooltip-format": "{ifname} via {gwaddr} ",
        "format-linked": "{ifname} (No IP) ",
        "format-disconnected": "Disconnected ⚠",
        "format-alt": "{ifname}: {ipaddr}/{cidr}"
    },
    "pulseaudio": {
        // "scroll-step": 1, // %, can be a float
        //"format": "{volume}% {icon} {format_source}",
        "format": "{icon} {volume}%",
        "format-bluetooth": "{volume}% {icon} {format_source}",
        "format-bluetooth-muted": " {icon} {format_source}",
        "format-muted": " {format_source}",
        "format-source": "{volume}% ",
        "format-source-muted": "",
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": [
                "",
                "",
                ""
            ]
        },
        "on-click": "pavucontrol"
    },
    "custom/media": {
        "format": "{icon} {text}",
        "return-type": "json",
        "max-length": 40,
        "format-icons": {
            "spotify": "",
            "default": "🎜"
        },
        "escape": true,
        "exec": "$HOME/.config/waybar/mediaplayer.py 2> /dev/null" // Script in resources folder
        // "exec": "$HOME/.config/waybar/mediaplayer.py --player spotify 2> /dev/null" // Filter player based on name
    },
    "custom/power": {
        "format": "⏻ ",
        "tooltip": false,
        "menu": "on-click",
        "menu-file": "$HOME/.config/waybar/power_menu.xml", // Menu file in resources folder
        "menu-actions": {
            "shutdown": "shutdown",
            "reboot": "reboot",
            "suspend": "systemctl suspend",
            "hibernate": "systemctl hibernate"
        }
    },
    // https://git.sr.ht/%7Ekrathalan/waybar-modules
    "custom/vpn": {
        "interval": 10,
        "tooltip": false,
        "format": "{}",
        "return-type":
           {{- if eq .chezmoi.hostname "ax-fuji" -}} "json"
           {{- else -}} "text"
           {{- end }},
        "exec":
           {{- if eq .chezmoi.hostname "ax-mac" -}} "$HOME/scripts/bb/vpn2.clj"
           {{- else if eq .chezmoi.hostname "ax-fuji" -}} "$HOME/scripts/bb/i3vpn.clj"
           {{- else -}} "echo 'TODO config custom/vpn'"
           {{- end }}
    },
    "custom/licht": {
        "interval": 10,
        "tooltip": false,
        "format": "{}",
        "return-type": "text",
        "exec": "$HOME/scripts/dwm-licht.sh"
    },
    "custom/disk": {
        "interval": 10,
        "tooltip": false,
        "format": "{}",
        "return-type": "json",
        "exec": "$HOME/scripts/bb/dwm_disk_space.clj json"
    },
    "custom/memory": {
        "interval": 10,
        "tooltip": false,
        "format": "{}",
        "return-type": "json",
        "exec": "$HOME/scripts/bb/dwm_memory.clj json"
    },
    "custom/weather": {
        "interval": 600,
        "tooltip": false,
        "format": "{}",
        "return-type": "text",
        "exec": "$HOME/scripts/bb/weather.clj dwm"
    },
    "custom/niri-wincount": {
        "interval": 1,
        "tooltip": false,
        "format": "[{}]",
        "return-type": "text",
        "exec": "ruby $HOME/sync/nirix/main.rb count"
    },
    "custom/sep1": {
        "format": " | ",
        "tooltip": false
    },
    "custom/sep2": {
        "format": "•",
        "tooltip": false
    },
    "hyprland/windowcount": {
        "format": "[{}]",
        "format-empty": "[]=",
        "format-windowed": "[]=",
        // "format-fullscreen": "[{}]",
        "separate-outputs": true
    },
        "sway/mode": {
        "format": "{}",
        "max-length": 100
    },
    "sway/window": {
        "format": "{title}",
//        "icon": true,
//        "max-length": 50,
             "rewrite": {
                   "(.*) - Mozilla Firefox": "  $1",
                   "(.*) — Mozilla Firefox": "  $1",
                   "(.*) - Brave": "🌎  $1",
                   "(.*) - vim": " $1",
                   "vim (.*)": " $1",
                   "(.*) - zsh": " [$1]"
            }
    }


}
