// -*- mode: jsonc -*-

{
    // "layer": "top", // Waybar at top layer
    // "position": "bottom", // Waybar position (top|bottom|left|right)
    "height": 30, // Waybar height (to be removed for auto height)
    // "width": 1280, // Waybar width
    "spacing": 10, // Gaps between modules [px]

    "modules-left": [
        "custom/snowflake",
        "custom/sep2b",
        "sway/workspaces",
        "custom/sep2b",
        "sway/mode",
        "sway/window",
    ],
    "modules-center": [
        "custom/date",
        "clock",
        "custom/weather",
    ],
    "modules-right": [
        "custom/music-info",
        "pulseaudio",
        "custom/sep2",
        "custom/notification-status",
        "custom/sep2",
        "custom/licht",
        "custom/sep2",
        "custom/cpu",
        "custom/disk",
        "custom/memory",
        "battery",
        "battery#bat2",
        "custom/sep2",
        "custom/vpn",
        "custom/sep2",
        "tray"
    ],

    // Modules configuration
    "sway/workspaces": {
        "disable-scroll": true,
        "all-outputs": true,
        "warp-on-scroll": false,
        //"format": "{name}: {icon}",
        "format": "{icon}",
        "format-icons": {
            "1": "  ",
            "2": "  ",
            "3": " 3 ",
            "4": " 4 ",
            "5": "  ",
            "6": " 6 ",
            "7": " 7 ",
            "8": "  ",
            "9": "  ",
            "urgent": "!   !",
         //   "focused": "",
         //   "default": ""
        }
    },
    "tray": {
        "icon-size": 15,
        "spacing": 10,
    },
    "custom/date": {
        "interval": 30,
        "tooltip": false,
        "format": "{}",
        "return-type": "text",
        "exec": "$HOME/.cargo/bin/tlbx waybar date"
    },
    "clock": {
        // "timezone": "America/New_York",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        // "format": " {:%a %d.%m.   %H:%M:%S}",
        // "format": " {:%H:%M:%S}",
        "format": "{:%H:%M:%S}",
        "format-alt": "{:%Y-%m-%d}",
        "interval": 1
    },
    "battery": {
        "states": {
            // "good": 95,
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-full": "{capacity}% {icon}",
        "format-charging": "{capacity}% ",
        "format-plugged": "{capacity}% ",
        "format-alt": "{time} {icon}",
        // "format-good": "", // An empty format will hide the module
        // "format-full": "",
        "format-icons": [
            "",
            "",
            "",
            "",
            ""
        ]
    },
    "battery#bat2": {
        "bat": "BAT2"
    },
    "power-profiles-daemon": {
        "format": "{icon}",
        "tooltip-format": "Power profile: {profile}\nDriver: {driver}",
        "tooltip": true,
        "format-icons": {
            "default": "",
            "performance": "",
            "balanced": "",
            "power-saver": ""
        }
    },
    "pulseaudio": {
        // "scroll-step": 1, // %, can be a float
        //"format": "{volume}% {icon} {format_source}",
        "format": "{icon} {volume}%",

        // "format-bluetooth": "{volume}% {icon} {format_source}",
        "format-bluetooth": "{volume}% {icon}",

        // "format-bluetooth-muted": " {icon} {format_source}",
        "format-bluetooth-muted": "MUTED {icon}",

        "format-muted": "MUTED {format_source}",
        "format-source": "{volume}% ",
        "format-source": "{volume}% ",
        "format-source-muted": "",
        "format-icons": {
            "headphone": "",
            "hands-free": "󰋎 ",
            "headset": " ",
            "phone": "",
            "portable": "",
            "car": "",
            "default": [
                "",
                "",
                ""
            ]
        },
        "on-click": "pavucontrol"
    },
    // https://git.sr.ht/%7Ekrathalan/waybar-modules
    "custom/vpn": {
        "interval": 10,
        "tooltip": false,
        "format": "{}",
        "return-type":
           {{- if eq .chezmoi.hostname "ax-fuji" -}} "json"
           {{- else -}} "json"
           {{- end }},
        "exec":
           {{- if eq .chezmoi.hostname "ax-mac" -}} "$HOME/.cargo/bin/tlbx waybar vpn"
           {{- else if eq .chezmoi.hostname "ax-bee" -}} "$HOME/.cargo/bin/tlbx waybar vpn"
           {{- else if eq .chezmoi.hostname "ax-fuji" -}} "$HOME/scripts/legacy-xorg-dwm/i3vpn.clj"
           {{- else -}} "echo 'TODO config custom/vpn'"
           {{- end }}
    },
    "custom/licht": {
        "interval": 10,
        "tooltip": false,
        "format": "{}",
        "return-type": "text",
        "exec": "$HOME/.cargo/bin/tlbx waybar licht"
    },
    "custom/cpu": {
        "interval": 5,
        "tooltip": false,
        "format": "{}",
        "return-type": "text",
        "exec": "$HOME/.cargo/bin/tlbx waybar load"
    },
    "custom/disk": {
        "interval": 10,
        "tooltip": false,
        "format": "{}",
        "return-type": "json",
        "exec": "$HOME/.cargo/bin/tlbx waybar disk"
    },
    "custom/memory": {
        "interval": 10,
        "tooltip": false,
        "format": "{}",
        "return-type": "json",
        "exec": "$HOME/.cargo/bin/tlbx waybar memory"
    },
    "custom/weather": {
        "interval": 600,
        "tooltip": false,
        "on-click": "~/scripts/bb/weather.clj dunst",
        "format": "{}",
        "return-type": "text",
        "exec": "$HOME/scripts/bb/weather.clj dwm"
    },
    "custom/music-info": {
        "interval": 1,
        "tooltip": false,
        "on-click": "playerctl play-pause",
        "format": "[{}]",
        "return-type": "text",
        "exec": "$HOME/.cargo/bin/tlbx waybar music"
    },
    "custom/notification-status": {
        "interval": 5,
        "tooltip": false,
        "on-click": "$HOME/scripts/dunst_toggle_and_notify.clj",
        "format": "{}",
        "return-type": "text",
        "exec": "$HOME/.cargo/bin/tlbx waybar notification-status"
    },
    // https://github.com/Alexays/Waybar/wiki/Module:-Custom:-Menu
    "custom/snowflake": {
        "format": " ",
        "tooltip-format": "Menu\n\nClick to open the SnowflakeMenu",
        "menu": "on-click",
        "menu-file": "~/.config/waybar/snowflake.xml",
        "menu-actions": {
            "About": "notify-send 'NixOS 25.05' 'Codename: Warbler'",
            "reboot": "notify-send reboot 'TODO: this is a work in progress ...'",
            "shutdown": "notify-send shutdown 'TODO: this is a work in progress ...'",
        },
    },
    "custom/sep1": {
        "format": " | ",
        "tooltip": false
    },
    "custom/sep2": {
        "format": "•",
        "tooltip": false
    },
    "custom/sep2b": {
        "format": "•",
        "tooltip": false
    },
        "sway/mode": {
        "format": "{}",
        "max-length": 100
    },
    "sway/window": {
        "format": "{title}",
        "icon": true,
        "icon-size": 20,
//        "max-length": 50,
             "rewrite": {
                   "(.*) - Mozilla Firefox": "$1",
                   "(.*) — Mozilla Firefox": "$1",
                   "(.*) - Brave": "$1",
            }
    }


}
